/* INSERT CUSTOM STYLES BELOW */
/* BOOTSTRAP (WITH NORMALIZE.CSS BUILT IN) IS ALREADY LINKED AND READY TO USE */
/* ADDING CUSTOM CSS STYLING IS OPTIONAL */
body {
  background-image: url("http://katelynjeffrey.net/grid_demo/Simple_Grid-WEB/images/1.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

#info, #loading, #api-fail{
  margin-top: 30px;
  opacity: 0.8;
}

#info, #api-fail {
  display: none;
}

#location {
  text-decoration: underline;
}
#other {
  display: none;
}

#hide {
  margin-top: 10px;
}

#footer, #title, #dt {
  color: white;
  text-shadow: -1px 0 black;
}

#location {
  padding-left: 16px;
}
@media screen and (max-width: 590px) {
  #info, #loading, #api-fail{
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    opacity: 0.8;
  }
}
@media screen and (min-width: 591px) {
  #info, #loading, #api-fail{
    margin-top: 30px;
    width: 550px;
    opacity: 0.8;
  }
}
